h1 {
    /* text-align: center; */
    font-size: 35px;
}

#h1-container {
    /* height: 400px; */
    position: relative;
    border: 3px solid-green;
}

#main-page {
    left: 30%;
    top: 30%;
    position: absolute;
}

#canvas {
    
}

body {
    color: darkgrey;
}