h1 {
    /* text-align: center; */
    font-size: 35px;
}

#h1-container {
    /* height: 400px; */
    position: relative;
    border: 3px solid-green;
}

#main-page {
    left: 30%;
    top: 30%;
    position: absolute;
}

#canvas {
    margin: 16;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: black;
}